[Unit]
Description=Bing Wallpaper Tray Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/bingtray
Restart=always
RestartSec=10
User=%i
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
