[Desktop Entry]
Name=Bing Wallpaper Tray
Comment=Automatically download and set Bing daily wallpapers
Exec=bingtray
Icon=image-x-generic
Terminal=false
Type=Application
Categories=Utility;Graphics;
StartupNotify=false
X-GNOME-Autostart-enabled=true
